body {
  font-family: Arial;
  background: #f4f4f4;
}

.login {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

button {
  background: black;
  color: white;
  border: none;
}
